

body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    outline: 0;
    margin: 0;
    padding: 0;
    color: rgb(50, 50, 50);
    font-size: 112.5%;
    line-height: 1.6em;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i {
    margin: 10px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    margin-left: 40px;
}

.navbar-brand img {
    height: 50px;
    width: 50px;
    margin-top: -50px;
    left: 0;
}

.navbar {
    padding: 15px 10px;
    margin-top: -20px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none;
    border: none;
}





.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #082172;
    color: rgb(255, 255, 255);
    display: block;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    box-shadow: 1px 2px 1px 2px #f5f5f5;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 40px;
    background: #082172;
    box-shadow: 2px 2px 2p 3px #47B375;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: none;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.2em;
    display: block;
    font-weight: bold;
}

#sidebar ul li {
    color: rgb(255, 255, 255);
    transition: .5s;
}

#sidebar ul li:hover {
    color: #47B375;
    text-decoration: line-through;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}




#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}




@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}





.about {
    margin-top: 30px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    color: #222;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 3px #e1e1e1;
}


.about i {
    font-size: 25px;
}












.contact {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
}

.icon {
    float: left;
    font-size: 15px;
    color: #222;
}

.contactdetails {
    margin-left: 25px;
    color: #222;
}

.contact a i {
    font-size: 20px;
    margin-right: 10px;
    color: #222;
    padding: 10px;
    border: 1px solid #ddd;
    transition: .5s;
}

